@import "tailwindcss";

/* Je theme-definities */
@theme {
  /* Kleuren */
  --color-main-dark: #440873;
  --color-main-light: #C266FC;
  --color-secondary-light: #F3F3F3;
  --color-secondary-dark: #E3E1E5;
  --color-green: #3BB143;
  --color-red: #FF0000;

  /* Spacing */
  --spacing-blocks: 90%;
  --spacing-smallblocks: 80%;

  /* Border radius */
  --radius-blocks: 2rem;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1700px;

  /* Fonts */
  --font-spacegrotesk: "SpaceGrotesk", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
